---
import SideMenuItem from '@/components/SideMenuItem.astro'
import HomeIcon from '@/icons/home.astro'
import SearcIcon from '@/icons/search.astro'
import Library from '@/icons/library.astro'

import SideMenuCard from '@/components/SideMenuCard.astro'

import { playlists } from '@/lib/data'
---

<nav class="flex flex-1 flex-col gap-2">
	<div class="rounded-lg bg-zinc-900 p-2">
		<ul>
			<SideMenuItem href="/">
				<HomeIcon />
				<span class="ml-2">Inicio</span>
			</SideMenuItem>
			<SideMenuItem href="/#">
				<SearcIcon />
				<span class="ml-2">Buscar</span>
			</SideMenuItem>
		</ul>
	</div>
	<div class="flex-1 rounded-lg bg-zinc-900 p-2">
		<ul>
			<SideMenuItem href="/">
				<Library />
				<span class="ml-2">Tu biblioteca</span>
			</SideMenuItem>
			{playlists.map((playlist) => <SideMenuCard playlist={playlist} />)}
		</ul>
	</div>
</nav>
