---
interface Props {
	href?: string
}

const { href } = Astro.props
---

<li>
	<a
		class="flex items-center gap-4 px-5 py-3 font-medium text-zinc-400 transition duration-300 hover:text-zinc-100"
		href={href}
	>
		<slot />
	</a>
</li>
